Repository fork-tongue/collagraph: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, pytest

flake8:
  name: flake8
  description: '`flake8` is a command-line utility for enforcing style consistency across Python projects.'
  entry: poetry run flake8
  language: system
  require_serial: true

pytest:
  name: pytest
  entry: poetry run pytest tests
  language: system
  require_serial: true
  pass_filenames: false

Set environment variable on step
  .github/workflows/ci.yml
Due: none

Simplify list of packages to install for Qt support
  .github/workflows/ci.yml
Due: none

Verbosity ftw
  .github/workflows/ci.yml
Due: none

Bump version to 0.5.0 (#74)
  .github/workflows/ci.yml
  pyproject.toml
Due: none

Now that collagraph 0.5.0 is out we can simply the packaging example
  examples/pyscript-packaging/README.md
  examples/pyscript-packaging/deps/.gitignore
  examples/pyscript-packaging/index.html
  examples/pyscript-packaging/pyproject.toml
Due: none

improve readmes, add scripting example
  examples/pyscript-development/README.md
  examples/pyscript-development/deps/.gitignore
  examples/pyscript-development/pyscript.cgx
  examples/pyscript-development/pyscript.html
  examples/pyscript-packaging/README.md
  examples/pyscript-scripting/README.md
  examples/pyscript-scripting/pyscript.cgx
  examples/pyscript-scripting/pyscript.html
Due: pytest

Clean up pyscript examples (#75)
  examples/pyscript-development/README.md
  examples/pyscript-development/deps/.gitignore
  examples/pyscript-development/pyscript.cgx
  examples/pyscript-development/pyscript.html
  examples/pyscript-packaging/README.md
  examples/pyscript-packaging/pyproject.toml
  examples/pyscript-scripting/README.md
  examples/pyscript-scripting/pyscript.cgx
  examples/pyscript-scripting/pyscript.html
  examples/pyscript/deps/.gitignore
Due: pytest

Add support for tree view with hierarchical elements
  collagraph/renderers/pyside/objects/standarditem.py
  collagraph/renderers/pyside_renderer.py
  examples/tree_view.cgx
  examples/tree_view_example.py
Due: flake8, pytest

Remove comment
  collagraph/renderers/pyside/objects/standarditem.py
Due: flake8, pytest

Make it possible to set object name of QItemSelectionModel
  collagraph/renderers/pyside/objects/qobject.py
  collagraph/renderers/pyside/objects/widget.py
  collagraph/renderers/pyside_renderer.py
Due: flake8, pytest

Add failing test for an update that is made while commiting to the dom
  tests/data/test_pyside_update.cgx
  tests/pyside/test_update.py
Due: flake8, pytest

Keep an eye out for changes to watched state during commit to dom
  collagraph/collagraph.py
Due: flake8, pytest

Further improve tree view support
  collagraph/renderers/pyside/objects/standarditem.py
  collagraph/renderers/pyside/utils.py
  collagraph/renderers/pyside_renderer.py
  examples/tree_view.cgx
Due: flake8, pytest

Remove unneeded calls because setItem takes care of them already
  collagraph/renderers/pyside/objects/standarditem.py
Due: flake8, pytest

Fix template indentation
  examples/tree_view.cgx
Due: pytest

Make anchor checks more explicit
  collagraph/renderers/dom_renderer.py
  collagraph/renderers/pyside/objects/itemmodel.py
  collagraph/renderers/pyside/objects/menu.py
  collagraph/renderers/pyside/objects/menubar.py
  collagraph/renderers/pyside/objects/splitter.py
  collagraph/renderers/pyside/objects/standarditem.py
  collagraph/renderers/pyside/objects/toolbar.py
  collagraph/renderers/pyside/objects/widget.py
Due: flake8, pytest

Unpack model index value and adjust truthy checks
  collagraph/renderers/pyside/objects/itemmodel.py
  collagraph/renderers/pyside/objects/standarditem.py
Due: flake8, pytest

Add support for tree view with hierarchical elements (#76)
  collagraph/collagraph.py
  collagraph/renderers/dom_renderer.py
  collagraph/renderers/pyside/objects/itemmodel.py
  collagraph/renderers/pyside/objects/menu.py
  collagraph/renderers/pyside/objects/menubar.py
  collagraph/renderers/pyside/objects/qobject.py
  collagraph/renderers/pyside/objects/splitter.py
  collagraph/renderers/pyside/objects/standarditem.py
  collagraph/renderers/pyside/objects/toolbar.py
  collagraph/renderers/pyside/objects/widget.py
  collagraph/renderers/pyside/utils.py
  collagraph/renderers/pyside_renderer.py
  examples/tree_view.cgx
  examples/tree_view_example.py
  tests/data/test_pyside_update.cgx
  tests/pyside/test_update.py
Due: flake8, pytest

Bump version to 0.5.1
  pyproject.toml
Due: none

Bump version to 0.5.1 (#79)
  pyproject.toml
Due: none

Add support for QTreeWidget and QTreeWidgetItem
  collagraph/renderers/pyside/objects/treewidget.py
  collagraph/renderers/pyside/objects/treewidgetitem.py
  collagraph/renderers/pyside_renderer.py
Due: flake8, pytest

Remove unneeded set_attribute from treewidget
  collagraph/renderers/pyside/objects/treewidget.py
  collagraph/renderers/pyside_renderer.py
Due: flake8, pytest

Add example for QTreeWidget and QTreeWidgetItem
  collagraph/renderers/pyside/utils.py
  examples/tree_widget.cgx
  examples/tree_widget_example.py
Due: flake8, pytest

Add test and fix for preventing a type error for props
  collagraph/collagraph.py
  tests/pyside/test_pyside_renderer.py
Due: flake8, pytest

Add failing test for updating props on a component
  tests/test_component.py
Due: flake8, pytest

Fix updating of props on components
  collagraph/collagraph.py
Due: flake8, pytest

Use xor to also account for clearing a prop
  collagraph/collagraph.py
  tests/pyside/test_pyside_renderer.py
Due: flake8, pytest

Require observ 0.9.5 or higher
  poetry.lock
  pyproject.toml
Due: none

Update collagraph/collagraph.py
  collagraph/collagraph.py
Due: flake8, pytest

Add test and fix for preventing a type error for props (#84)
  collagraph/collagraph.py
  poetry.lock
  pyproject.toml
  tests/pyside/test_pyside_renderer.py
Due: flake8, pytest

Fix updating props on components (#85)
  collagraph/collagraph.py
  tests/test_component.py
Due: flake8, pytest

Add support for QTreeWidget and QTreeWidgetItem (#82)
  collagraph/renderers/pyside/objects/treewidget.py
  collagraph/renderers/pyside/objects/treewidgetitem.py
  collagraph/renderers/pyside/utils.py
  collagraph/renderers/pyside_renderer.py
  examples/tree_widget.cgx
  examples/tree_widget_example.py
Due: flake8, pytest

Bump version to 0.5.2
  pyproject.toml
Due: none

Bump version to 0.5.2 (#86)
  pyproject.toml
Due: none

Fix a bug with removing widgets from a QFormLayout
  collagraph/renderers/pyside/objects/widget.py
Due: flake8, pytest

Add parent attribute to component instances
  collagraph/collagraph.py
  collagraph/component.py
  collagraph/types.py
  examples/cgx_component_example.cgx
  examples/component-example.py
  examples/dialog_example.cgx
  examples/dialog_example_window.cgx
  examples/pygfx-slider-example.py
  examples/todo-example.py
  examples/tree_view.cgx
  examples/tree_widget.cgx
  tests/data/app.cgx
  tests/data/directive_bind.cgx
  tests/data/directive_bind_context.cgx
  tests/data/directive_bind_multiple.cgx
  tests/data/directive_bind_state_and_props.cgx
  tests/data/directive_on.cgx
  tests/data/directive_typo.cgx
  tests/data/resolve_names.cgx
  tests/data/shadow_imports.cgx
  tests/data/template.cgx
  tests/data/test_pyside_update.cgx
  tests/test_component.py
  tests/test_component_events.py
Due: flake8, pytest

Add provide/inject functionality
  collagraph/component.py
  tests/test_component_provide_inject.py
Due: flake8, pytest

Simplify provide inject API and code
  collagraph/component.py
  tests/test_component_provide_inject.py
Due: flake8, pytest

Add provide/inject functionality (#88)
  collagraph/collagraph.py
  collagraph/component.py
  collagraph/types.py
  examples/cgx_component_example.cgx
  examples/component-example.py
  examples/dialog_example.cgx
  examples/dialog_example_window.cgx
  examples/pygfx-slider-example.py
  examples/todo-example.py
  examples/tree_view.cgx
  examples/tree_widget.cgx
  tests/data/app.cgx
  tests/data/directive_bind.cgx
  tests/data/directive_bind_context.cgx
  tests/data/directive_bind_multiple.cgx
  tests/data/directive_bind_state_and_props.cgx
  tests/data/directive_on.cgx
  tests/data/directive_typo.cgx
  tests/data/resolve_names.cgx
  tests/data/shadow_imports.cgx
  tests/data/template.cgx
  tests/data/test_pyside_update.cgx
  tests/test_component.py
  tests/test_component_events.py
  tests/test_component_provide_inject.py
Due: flake8, pytest

Path conditions:
  flake8: any of: \.py$
  pytest: any of: \.(py|cgx)$
