Repository fork-tongue/collagraph: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, format, test

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  # -   repo: https://github.com/pre-commit/pre-commit-hooks
  #     rev: v3.2.0
  #     hooks:
  #     -   id: trailing-whitespace
  #     -   id: end-of-file-fixer
  #     -   id: check-yaml
  #     -   id: check-added-large-files
  - repo: local
    hooks:
      - id: lint
        name: lint
        entry: uv run ruff check
        language: system
        types: [python]
        require_serial: true
      - id: format
        name: format
        entry: uv run ruff format --check
        language: system
        types: [python]
        require_serial: true
      - id: test
        name: pytest
        entry: uv run pytest tests
        language: system
        types: [text]
        files: \.(py|cgx)$
        require_serial: true
        pass_filenames: false

Bump version to 0.9.2
  pyproject.toml
Due: none

Bump version to 0.9.2 (#169)
  pyproject.toml
Due: none

Improve keyed list reconciliation with LIS optimization
  collagraph/fragment.py
  tests/test_directive_for_keyed.py
  tests/test_list_reverse_reordering.py
  tests/test_multi_root_component_reordering.py
  tests/test_nested_component_reordering.py
Due: lint, format, test

Finish refactor
  tests/test_directive_for_keyed.py
  tests/test_list_reverse_reordering.py
  tests/test_multi_root_component_reordering.py
  tests/test_nested_component_reordering.py
Due: lint, format, test

Remove duplicated files
  tests/test_list_reverse_reordering.py
  tests/test_multi_root_component_reordering.py
  tests/test_nested_component_reordering.py
Due: lint, format, test

Add CI job to test PyInstaller hooks and fix hook for standalone scripts
  .github/workflows/ci.yml
  .gitignore
  collagraph/__pyinstaller/hook-collagraph.py
  pyproject.toml
  tests/pyinstaller/expected_output.json
  tests/pyinstaller/test_pyinstaller.sh
  tests/pyinstaller/todo_app/app.py
  tests/pyinstaller/todo_app/helpers.py
  tests/pyinstaller/todo_app/todo_item.cgx
  tests/pyinstaller/todo_app/todo_list.cgx
Due: lint, format, test

Clean-up generated code a bit
  tests/pyinstaller/todo_app/app.py
  tests/pyinstaller/todo_app/todo_item.cgx
  tests/pyinstaller/todo_app/todo_list.cgx
Due: lint, format, test

Pre-compile CGX files to Python in PyInstaller hook
  collagraph/__pyinstaller/hook-collagraph.py
Due: lint, format, test

Skip CGX import hook when running as a frozen PyInstaller bundle
  collagraph/sfc/importer.py
Due: lint, format, test

Add CI job to test PyInstaller hooks and update hook to dynamically generate python code from cgx files (#171)
  .github/workflows/ci.yml
  .gitignore
  collagraph/__pyinstaller/hook-collagraph.py
  collagraph/sfc/importer.py
  pyproject.toml
  tests/pyinstaller/expected_output.json
  tests/pyinstaller/test_pyinstaller.sh
  tests/pyinstaller/todo_app/app.py
  tests/pyinstaller/todo_app/helpers.py
  tests/pyinstaller/todo_app/todo_item.cgx
  tests/pyinstaller/todo_app/todo_list.cgx
Due: lint, format, test

Bump version to 9.1.3
  pyproject.toml
Due: none

Bump version to 9.1.3 (#172)
  pyproject.toml
Due: none

First pass at proper drag-n-drop in Pyside
  collagraph/fragment.py
  examples/pyside/tree_dnd_example.cgx
  examples/pyside/tree_dnd_item.cgx
  examples/pyside/tree_dnd_model.py
  examples/pyside/tree_dnd_widget.py
  tests/pyside/_screenshots/01_initial.png
  tests/pyside/_screenshots/02_after_add_root.png
  tests/pyside/_screenshots/03_after_remove.png
  tests/pyside/_screenshots/04_after_group.png
  tests/pyside/_screenshots/05_after_drop_on.png
  tests/pyside/_screenshots/06_after_drop_above.png
  tests/pyside/_screenshots/07_workflow_after_add.png
  tests/pyside/_screenshots/07_workflow_after_drop.png
  tests/pyside/_screenshots/07_workflow_after_group.png
  tests/pyside/_screenshots/07_workflow_initial.png
  tests/pyside/test_tree_dnd_example.py
  tests/test_tree_dnd_model.py
Due: lint, format, test

Ignore images from test suite
  .gitignore
  tests/pyside/_screenshots/01_initial.png
  tests/pyside/_screenshots/02_after_add_root.png
  tests/pyside/_screenshots/03_after_remove.png
  tests/pyside/_screenshots/04_after_group.png
  tests/pyside/_screenshots/05_after_drop_on.png
  tests/pyside/_screenshots/06_after_drop_above.png
  tests/pyside/_screenshots/07_workflow_after_add.png
  tests/pyside/_screenshots/07_workflow_after_drop.png
  tests/pyside/_screenshots/07_workflow_after_group.png
  tests/pyside/_screenshots/07_workflow_initial.png
Due: none

Refactor to use pure reactive state, restore expansion state, and allow renaming items in example
  collagraph/renderers/pyside/objects/treewidgetitem.py
  examples/pyside/tree_dnd_example.cgx
  examples/pyside/tree_dnd_item.cgx
  examples/pyside/tree_dnd_model.py
  tests/pyside/test_tree_dnd_example.py
  tests/test_tree_dnd_model.py
Due: lint, format, test

Fix keyed list rendering and implement LIS for reconciliation (#158)
  collagraph/fragment.py
  tests/conftest.py
  tests/test_directive_for_keyed.py
  tests/test_directive_for_keyed_multi_root.py
  tests/test_directive_for_keyed_nested.py
  tests/test_directive_for_keyed_reverse.py
Due: lint, format, test

Moved expansion state from a per-node field to a top-level 'expanded_ids' list
  examples/pyside/tree_dnd_example.cgx
  examples/pyside/tree_dnd_item.cgx
  examples/pyside/tree_dnd_model.py
  tests/pyside/test_tree_dnd_example.py
  tests/test_tree_dnd_model.py
Due: lint, format, test

Small optimization (reverse instead of inserting at zero) and reformat cgx files
  examples/pyside/tree_dnd_example.cgx
  examples/pyside/tree_dnd_item.cgx
  examples/pyside/tree_dnd_widget.py
Due: lint, format, test

Preserve item selection across keyed reorder, recompute paths after move
  collagraph/renderers/pyside/objects/treewidgetitem.py
  examples/pyside/tree_dnd_example.cgx
  tests/pyside/test_tree_dnd_example.py
Due: lint, format, test

Remove screenshots from test suite
  .gitignore
  tests/pyside/test_tree_dnd_example.py
Due: lint, format, test

Support PySide drag and drop (#173)
  collagraph/renderers/pyside/objects/treewidgetitem.py
  examples/pyside/tree_dnd_example.cgx
  examples/pyside/tree_dnd_item.cgx
  examples/pyside/tree_dnd_model.py
  examples/pyside/tree_dnd_widget.py
  tests/pyside/test_tree_dnd_example.py
  tests/test_tree_dnd_model.py
Due: lint, format, test

Bump version to 0.9.4
  pyproject.toml
Due: none

Bump version to 0.9.4 (#174)
  pyproject.toml
Due: none

Write compiled AST to temp file when CGX_DEBUG is set
  collagraph/sfc/__init__.py
  collagraph/sfc/compiler.py
Due: lint, format, test

Add MkDocs documentation with GitHub Pages deployment
  .github/workflows/docs.yml
  .gitignore
  docs/examples/pygfx-examples.md
  docs/examples/pyside-examples.md
  docs/getting-started/cli.md
  docs/getting-started/first-component.md
  docs/getting-started/installation.md
  docs/guide/components.md
  docs/guide/events.md
  docs/guide/hot-reload.md
  docs/guide/provide-inject.md
  docs/guide/reactivity.md
  docs/guide/slots.md
  docs/guide/template-syntax.md
  docs/index.md
  docs/reference/component-api.md
  docs/reference/directives.md
  docs/reference/renderer-api.md
  docs/renderers/overview.md
  docs/renderers/pygfx.md
  docs/renderers/pyside.md
  mkdocs.yml
  pyproject.toml
Due: none

Preserve TreeView state during keyed reorders
  collagraph/renderers/pyside/objects/itemmodel.py
  collagraph/renderers/pyside/objects/standarditem.py
  examples/pyside/keyed_tree_demo.cgx
  tests/pyside/test_treeview_keyed_selection.py
Due: lint, format, test

Preserve PySide TreeView selection/expansion across keyed reorders (#179)
  collagraph/renderers/pyside/objects/itemmodel.py
  collagraph/renderers/pyside/objects/standarditem.py
  examples/pyside/keyed_tree_demo.cgx
  tests/pyside/test_treeview_keyed_selection.py
Due: lint, format, test

Use AST-native text interpolation codegen
  collagraph/sfc/compiler.py
  tests/data/text/expressions.cgx
  tests/test_text_expressions.py
Due: lint, format, test

Normalize multiline text indentation
  collagraph/sfc/compiler.py
  tests/data/text/expressions.cgx
  tests/test_text_expressions.py
Due: lint, format, test

Add complex multiline text interpolation test
  tests/data/text/expressions.cgx
  tests/test_text_expressions.py
Due: lint, format, test

Restore support for text expressions (#148)
  collagraph/sfc/compiler.py
  tests/data/text/expressions.cgx
  tests/test_text_expressions.py
Due: lint, format, test

Support setting text/markdown on pygfx Text (#177)
  collagraph/renderers/pygfx_renderer.py
  tests/test_pygfx_renderer.py
Due: lint, format, test

Support pygfx text child nodes via proxy elements
  collagraph/renderers/pygfx_renderer.py
  tests/test_pygfx_renderer.py
Due: lint, format, test

Add pygfx landmarks text-label example
  examples/pygfx/README.md
  examples/pygfx/landmarks.cgx
Due: test

Make pygfx landmarks example interactive
  examples/pygfx/README.md
  examples/pygfx/landmarks.cgx
Due: test

Use renderer text-element API for template text nodes
  collagraph/fragment.py
  tests/test_text_expressions.py
Due: lint, format, test

Use renderer text-element API for template text nodes (#180)
  collagraph/fragment.py
  tests/test_text_expressions.py
Due: lint, format, test

Use pygfx text renderer API for text elements
  collagraph/renderers/pygfx_renderer.py
  tests/test_pygfx_renderer.py
Due: lint, format, test

Simplify example
  examples/pygfx/landmarks.cgx
Due: test

Support pygfx text elements (#181)
  collagraph/renderers/pygfx_renderer.py
  examples/pygfx/README.md
  examples/pygfx/landmarks.cgx
  tests/test_pygfx_renderer.py
Due: lint, format, test
