Repository fork-tongue/collagraph: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, pytest

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
# -   repo: https://github.com/pre-commit/pre-commit-hooks
#     rev: v3.2.0
#     hooks:
#     -   id: trailing-whitespace
#     -   id: end-of-file-fixer
#     -   id: check-yaml
#     -   id: check-added-large-files
- repo: local
  hooks:
  - id: flake8
    name: flake8
    description: '`flake8` is a command-line utility for enforcing style consistency across Python projects.'
    entry: poetry run flake8
    language: system
    types: [python]
    require_serial: true
  - id: pytest
    name: pytest
    entry: poetry run pytest tests
    language: system
    types: [text]
    files: \.(py|cgx)$
    require_serial: true
    pass_filenames: false

Add dashes...
  .github/workflows/ci.yml
Due: none

Update publish pipeline part from Pygfx
  .github/workflows/ci.yml
Due: none

Update twine to work with python 3.13
  uv.lock
Due: none

Ruff it
  examples/pyside/layout-example.py
  examples/pyside/layout_example.cgx
  examples/pyside/lists-example.py
  examples/pyside/tabs-example.py
  tests/conftest.py
  tests/test_attributes_dynamic.py
  tests/test_sfc_shadowing.py
Due: flake8, pytest

Update year in LICENSE
  LICENSE
Due: none

Update pygfx example and add README
  examples/pygfx/README.md
  examples/pygfx/button.cgx
  examples/pygfx/combined-example.py
  examples/pygfx/numberpad.cgx
  examples/pygfx/point_cloud.cgx
  examples/pygfx/pygfx-component.cgx
  examples/pygfx/render_widget.cgx
Due: flake8, pytest

Add __init__ to tests folder for imports to work
  tests/__init__.py
Due: flake8, pytest

Update pygfx renderer tests for new pygfx version
  tests/test_pygfx_renderer.py
Due: flake8, pytest

Format with black-cgx
  tests/data/component/events_child.cgx
  tests/data/component/events_parent.cgx
  tests/data/component/provide_child.cgx
  tests/data/component/provide_parent.cgx
  tests/data/component/provide_root.cgx
  tests/data/example.cgx
  tests/data/file_dunder.cgx
  tests/data/multiple_classes_right_order.cgx
  tests/data/multiple_classes_wrong_order.cgx
  tests/data/multiple_root_elements.cgx
  tests/data/pyside/app.cgx
  tests/data/pyside/test_pyside_update.cgx
  tests/data/shadow_imports.cgx
  tests/data/slots/node.cgx
Due: pytest

Update pygfx and observ dependencies
  pyproject.toml
  uv.lock
Due: none

Skip PySide 6.8.3
  pyproject.toml
  uv.lock
Due: none

And skip PySide 6.9.0
  pyproject.toml
  uv.lock
Due: none

Reset event_loop_policy after PySide tests
  tests/pyside/conftest.py
Due: flake8, pytest

Re-use event loop and set it explicitely
  tests/conftest.py
Due: flake8, pytest

Update pygfx example README and change poetry to uv
  examples/pygfx/README.md
  examples/pygfx/point_cloud.cgx
  examples/pygfx/pygfx-component.cgx
Due: pytest

Improve errors for incomplete SFCs
  collagraph/component.py
  collagraph/sfc/compiler.py
  tests/test_sfc_compilation.py
Due: flake8, pytest

Replace poetry with uv
  README.md
  examples/pyscript-development/README.md
  examples/pyscript-packaging/README.md
  examples/pyscript-packaging/pyproject.toml
  examples/pyside/cgx_component_example.cgx
  examples/pyside/debug_example.cgx
  examples/pyside/dialog_example.cgx
  examples/pyside/layout_example.cgx
Due: pytest

Replace combobox example with cgx variant
  examples/pyside/combobox-example.py
  examples/pyside/combobox_example.cgx
Due: flake8, pytest

Replace layout example with cgx variant
  examples/pyside/layout-example.py
  examples/pyside/layout_example.cgx
Due: flake8, pytest

Simplify some pyside examples
  examples/pyside/cgx_component_example.cgx
  examples/pyside/counter.cgx
Due: pytest

Fix linting
  examples/pyscript-packaging/poetry.lock
  examples/pyscript-packaging/pyproject.toml
Due: none

Add comment
  examples/pyside/flow_layout.py
Due: flake8, pytest

Replace slider example by SFC
  collagraph/renderers/pyside_renderer.py
  examples/pyside/slider-example.py
  examples/pyside/slider_example.cgx
Due: flake8, pytest

Replace tabs example by SFC
  collagraph/renderers/pyside_renderer.py
  examples/pyside/slider_example.cgx
  examples/pyside/tabs-example.py
  examples/pyside/tabs_example.cgx
Due: flake8, pytest

Replace todo example by SFCs
  examples/pyside/todo-example.py
  examples/pyside/todo_example.cgx
  examples/pyside/todo_list.cgx
Due: flake8, pytest

Sort lines
  collagraph/renderers/pyside_renderer.py
Due: flake8, pytest

'Fix' a removing a selection model from an item view
  collagraph/renderers/pyside/objects/listview.py
  examples/pyside/dialog_example_window.cgx
Due: flake8, pytest

Make sure the right attribute is captured in lambda
  collagraph/fragment.py
Due: flake8, pytest

Replace lists example by SFCs
  examples/pyside/lists-example.py
  examples/pyside/lists_example.cgx
Due: flake8, pytest

Improve importer and main runner to support relative imports in cgx files
  collagraph/__main__.py
  collagraph/sfc/compiler.py
  collagraph/sfc/importer.py
Due: flake8, pytest

Improve typing
  collagraph/sfc/compiler.py
  collagraph/sfc/parser.py
Due: flake8, pytest

Remove unused ignore statement and autoformat
  pyproject.toml
Due: none

Remove unused comment
  collagraph/sfc/importer.py
Due: flake8, pytest

Leave out ratio (should be an integer actually)
  collagraph/__main__.py
Due: flake8, pytest

insertRow doesn't seem to work in latest PySide
  collagraph/renderers/pyside/objects/itemmodel.py
  collagraph/renderers/pyside/objects/standarditem.py
Due: flake8, pytest

Rename types to constants
  collagraph/__init__.py
  collagraph/collagraph.py
  collagraph/constants.py
  collagraph/renderers/__init__.py
  collagraph/renderers/pyside_renderer.py
  collagraph/sfc/compiler.py
Due: flake8, pytest

basic dev container
  .devcontainer/devcontainer.json
Due: none

Push item state for list items instead of pulling
  collagraph/fragment.py
Due: flake8, pytest

Remove pyscript examples, not migrating to uv and not developing it in the future
  README.md
  examples/pyscript-development/README.md
  examples/pyscript-development/deps/.gitignore
  examples/pyscript-development/pyscript.cgx
  examples/pyscript-development/pyscript.html
  examples/pyscript-packaging/README.md
  examples/pyscript-packaging/app/__init__.py
  examples/pyscript-packaging/app/app.cgx
  examples/pyscript-packaging/index.html
  examples/pyscript-packaging/main.py
  examples/pyscript-packaging/poetry.lock
  examples/pyscript-packaging/pyproject.toml
  examples/pyscript-scripting/README.md
  examples/pyscript-scripting/pyscript.cgx
  examples/pyscript-scripting/pyscript.html
Due: flake8, pytest

Migrate from poetry to uv
  .github/workflows/ci.yml
  .gitignore
  .pre-commit-config.yaml
  README.md
  examples/pygfx/pygfx-component.cgx
  poetry.lock
  pyproject.toml
Due: pytest
