Repository fork-tongue/collagraph: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, pytest

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
# -   repo: https://github.com/pre-commit/pre-commit-hooks
#     rev: v3.2.0
#     hooks:
#     -   id: trailing-whitespace
#     -   id: end-of-file-fixer
#     -   id: check-yaml
#     -   id: check-added-large-files
- repo: local
  hooks:
  - id: flake8
    name: flake8
    description: '`flake8` is a command-line utility for enforcing style consistency across Python projects.'
    entry: poetry run flake8
    language: system
    types: [python]
    require_serial: true
  - id: pytest
    name: pytest
    entry: poetry run pytest tests
    language: system
    types: [text]
    files: \.(py|cgx)$
    require_serial: true
    pass_filenames: false

Just import one by one, don't try and be 'smart' about it
  collagraph/renderers/pyside/objects/__init__.py
  setup.cfg
Due: flake8, pytest

Use same import strategy as other object submodules
  collagraph/renderers/pyside/objects/qobject.py
  collagraph/renderers/pyside/objects/standarditem.py
  collagraph/renderers/pyside/objects/statusbar.py
Due: flake8, pytest

Add test that splits text elements with a comment and an element
  tests/cgx/test_cgx_text_elements.py
  tests/data/text_elements.cgx
Due: flake8, pytest

Fix handling of text elements
  collagraph/cgx/cgx.py
Due: flake8, pytest

Add support for QScrollArea (#111)
  collagraph/renderers/pyside/objects/scrollarea.py
  collagraph/renderers/pyside/utils.py
  collagraph/renderers/pyside_renderer.py
  tests/pyside/test_pyside_elements.py
Due: flake8, pytest

Store location on TextElements and Comments
  collagraph/cgx/cgx.py
Due: flake8, pytest

Fix handling of text elements (#115)
  collagraph/cgx/cgx.py
  tests/cgx/test_cgx_text_elements.py
  tests/data/text_elements.cgx
Due: flake8, pytest

Remove obsolete comment
  collagraph/renderers/pyside_renderer.py
Due: flake8, pytest

Remove DomRenderer from component runner for now
  collagraph/__main__.py
Due: flake8, pytest

Organize examples and add --state arg to collagraph
  collagraph/__main__.py
  examples/cgx-component-example.py
  examples/debug.py
  examples/dialog-example.py
  examples/pygfx/combined-example.py
  examples/pygfx/component-example.py
  examples/pygfx/point_cloud.py
  examples/pygfx/pygfx-component.cgx
  examples/pygfx/pygfx-example.py
  examples/pygfx/pygfx-slider-example.py
  examples/pyside/app.py
  examples/pyside/cgx_component_example.cgx
  examples/pyside/combobox-example.py
  examples/pyside/debug_example.cgx
  examples/pyside/dialog_example.cgx
  examples/pyside/dialog_example_window.cgx
  examples/pyside/layout-example.py
  examples/pyside/lists-example.py
  examples/pyside/slider-example.py
  examples/pyside/tabs-example.py
  examples/pyside/todo-example.py
  examples/pyside/tree_view.cgx
  examples/pyside/tree_widget.cgx
  examples/tree_view_example.py
  examples/tree_widget_example.py
Due: flake8, pytest

Add instructions for running examples
  examples/pygfx/pygfx-component.cgx
  examples/pyside/dialog_example.cgx
Due: pytest

Add script to run component files directly
  collagraph/__main__.py
  pyproject.toml
Due: flake8, pytest

Update readme and add example from readme
  README.md
  examples/pyside/counter.cgx
Due: pytest

Fix bug where a root-level comment would break the cgx parser
  collagraph/cgx/cgx.py
  tests/cgx/test_cgx_comments.py
Due: flake8, pytest

Check attr instead of instance
  collagraph/cgx/cgx.py
Due: flake8, pytest

Add CI checks for python 3.11 and 3.12
  .github/workflows/ci.yml
Due: none

Bump version and update pyside dependency
  poetry.lock
  pyproject.toml
Due: none

Update pytest-qt package to latest
  poetry.lock
Due: none

Just update Pyside6 to 6.6
  poetry.lock
  pyproject.toml
Due: none

Update uharfbuzz to make sure 3.12 wheels are available
  poetry.lock
Due: none

Fix bug where a root-level comment would break the cgx parser (#117)
  collagraph/cgx/cgx.py
  tests/cgx/test_cgx_comments.py
Due: flake8, pytest

Update observ
  poetry.lock
  pyproject.toml
Due: none

Fix deprecation warning in python 3.12
  tests/conftest.py
Due: flake8, pytest

Add script to run component files directly (#99)
  README.md
  collagraph/__main__.py
  collagraph/renderers/pyside_renderer.py
  examples/cgx-component-example.py
  examples/debug.py
  examples/dialog-example.py
  examples/pygfx/combined-example.py
  examples/pygfx/component-example.py
  examples/pygfx/point_cloud.py
  examples/pygfx/pygfx-component.cgx
  examples/pygfx/pygfx-example.py
  examples/pygfx/pygfx-slider-example.py
  examples/pyside/app.py
  examples/pyside/cgx_component_example.cgx
  examples/pyside/combobox-example.py
  examples/pyside/counter.cgx
  examples/pyside/debug_example.cgx
  examples/pyside/dialog_example.cgx
  examples/pyside/dialog_example_window.cgx
  examples/pyside/layout-example.py
  examples/pyside/lists-example.py
  examples/pyside/slider-example.py
  examples/pyside/tabs-example.py
  examples/pyside/todo-example.py
  examples/pyside/tree_view.cgx
  examples/pyside/tree_widget.cgx
  examples/tree_view_example.py
  examples/tree_widget_example.py
  pyproject.toml
Due: flake8, pytest

Fix a path in the readme
  README.md
Due: none

Integrate QtAsyncio
  README.md
  collagraph/__main__.py
  collagraph/collagraph.py
  collagraph/renderers/pyside_renderer.py
  collagraph/types.py
  examples/pygfx/combined-example.py
  examples/pygfx/component-example.py
  examples/pygfx/pygfx-example.py
  examples/pygfx/pygfx-slider-example.py
  examples/pyside/app.py
  examples/pyside/combobox-example.py
  examples/pyside/layout-example.py
  examples/pyside/lists-example.py
  examples/pyside/slider-example.py
  examples/pyside/tabs-example.py
  examples/pyside/todo-example.py
  tests/pyside/conftest.py
  tests/pyside/test_pyside_elements.py
  tests/pyside/test_pyside_renderer.py
  tests/pyside/test_pyside_sfc.py
  tests/pyside/test_widget.py
Due: flake8, pytest

Lint
  tests/pyside/conftest.py
Due: flake8, pytest

Add support for registering with asyncio for the renderer
  collagraph/collagraph.py
  collagraph/renderers/__init__.py
  collagraph/renderers/pyside_renderer.py
Due: flake8, pytest

Bump version to v0.7.0 (#118)
  .github/workflows/ci.yml
  README.md
  collagraph/__main__.py
  collagraph/collagraph.py
  collagraph/renderers/__init__.py
  collagraph/renderers/pygfx_renderer.py
  collagraph/renderers/pyside_renderer.py
  collagraph/types.py
  examples/pygfx/combined-example.py
  examples/pygfx/component-example.py
  examples/pygfx/point_cloud.py
  examples/pygfx/pygfx-example.py
  examples/pygfx/pygfx-slider-example.py
  examples/pyside/app.py
  examples/pyside/combobox-example.py
  examples/pyside/layout-example.py
  examples/pyside/lists-example.py
  examples/pyside/slider-example.py
  examples/pyside/tabs-example.py
  examples/pyside/todo-example.py
  poetry.lock
  pyproject.toml
  tests/conftest.py
  tests/pyside/conftest.py
  tests/pyside/test_pyside_elements.py
  tests/pyside/test_pyside_renderer.py
  tests/pyside/test_pyside_sfc.py
  tests/pyside/test_widget.py
  tests/test_pygfx_renderer.py
Due: flake8, pytest

Fix for qscrollarea
  collagraph/renderers/pyside/objects/__init__.py
  collagraph/renderers/pyside/objects/scrollarea.py
  collagraph/renderers/pyside_renderer.py
  examples/pygfx/combined-example.py
  examples/pygfx/pygfx-slider-example.py
  examples/pyside/layout-example.py
  examples/pyside/lists-example.py
  examples/pyside/slider-example.py
  examples/pyside/tabs-example.py
  examples/pyside/todo-example.py
  tests/pyside/conftest.py
  tests/pyside/test_pyside_elements.py
Due: flake8, pytest

Fix layout example
  examples/pyside/layout-example.py
Due: flake8, pytest

Make flow layout example runable
  examples/pyside/flow_layout.py
Due: flake8, pytest

Remove comments that were copied from examples
  tests/pyside/test_pyside_renderer.py
Due: flake8, pytest

Change how custom widgets can be registered and support custom layouts (#113)
  collagraph/renderers/__init__.py
  collagraph/renderers/pyside/__init__.py
  collagraph/renderers/pyside/objects/__init__.py
  collagraph/renderers/pyside/objects/combobox.py
  collagraph/renderers/pyside/objects/dialogbuttonbox.py
  collagraph/renderers/pyside/objects/dockwidget.py
  collagraph/renderers/pyside/objects/itemmodel.py
  collagraph/renderers/pyside/objects/layouts.py
  collagraph/renderers/pyside/objects/listview.py
  collagraph/renderers/pyside/objects/menu.py
  collagraph/renderers/pyside/objects/menubar.py
  collagraph/renderers/pyside/objects/qobject.py
  collagraph/renderers/pyside/objects/scrollarea.py
  collagraph/renderers/pyside/objects/splitter.py
  collagraph/renderers/pyside/objects/standarditem.py
  collagraph/renderers/pyside/objects/statusbar.py
  collagraph/renderers/pyside/objects/tab.py
  collagraph/renderers/pyside/objects/toolbar.py
  collagraph/renderers/pyside/objects/treewidget.py
  collagraph/renderers/pyside/objects/treewidgetitem.py
  collagraph/renderers/pyside/objects/widget.py
  collagraph/renderers/pyside/objects/window.py
  collagraph/renderers/pyside/utils.py
  collagraph/renderers/pyside_renderer.py
  examples/pygfx/combined-example.py
  examples/pygfx/pygfx-slider-example.py
  examples/pyside/__init__.py
  examples/pyside/flow_layout.py
  examples/pyside/layout-example.py
  examples/pyside/lists-example.py
  examples/pyside/slider-example.py
  examples/pyside/tabs-example.py
  examples/pyside/todo-example.py
  setup.cfg
  tests/pyside/conftest.py
  tests/pyside/test_pyside_elements.py
  tests/pyside/test_pyside_renderer.py
Due: flake8, pytest

Fix for running collagraph on cgx files
  collagraph/__main__.py
  tests/data/pyside/app.cgx
  tests/pyside/test_pyside_elements.py
  tests/test_sfc_comments.py
  tests/test_sfc_linting_support.py
  tests_legacy/test_component_provide_inject.py
Due: flake8, pytest

Fixes for pyside tests
  tests/data/pyside/app.cgx
  tests/data/simple.cgx
  tests/pyside/conftest.py
  tests/pyside/lists.cgx
  tests/pyside/test_pyside_elements.py
  tests/test_events.py
  tests/test_sfc_comments.py
  tests/test_sfc_linting_support.py
Due: flake8, pytest

Fix a problem with v-if left-overs
  collagraph/fragment.py
  tests/pyside/test_pyside_elements.py
Due: flake8, pytest
