Repository fork-tongue/collagraph: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, pytest

flake8:
  name: flake8
  description: '`flake8` is a command-line utility for enforcing style consistency across Python projects.'
  entry: poetry run flake8
  language: system
  require_serial: true

pytest:
  name: pytest
  entry: poetry run pytest tests
  language: system
  require_serial: true
  pass_filenames: false

Fix pygfx and pyside compatibility
  collagraph/renderers/pygfx_renderer.py
  collagraph/renderers/pyside_renderer.py
  examples/pygfx/combined-example.py
  examples/pygfx/component-example.py
  examples/pygfx/point_cloud.py
  examples/pygfx/pygfx-example.py
  examples/pygfx/pygfx-slider-example.py
  tests/test_pygfx_renderer.py
Due: flake8, pytest

Fix linting
  examples/pygfx/combined-example.py
  examples/pygfx/point_cloud.py
  examples/pygfx/pygfx-example.py
  examples/pyside/lists-example.py
  tests/__init__.py
  tests/test_component_events.py
  tests/test_fibers.py
Due: flake8, pytest

Remove dom renderer
  collagraph/renderers/dom_renderer.py
Due: flake8, pytest

Fix pipeline syntax (autoformat)
  .github/workflows/ci.yml
Due: none

Drop support for python 3.9
  .github/workflows/ci.yml
  pyproject.toml
Due: none

Migrate from poetry to uv in examples
  examples/pyside/cgx_component_example.cgx
  examples/pyside/debug_example.cgx
  examples/pyside/dialog_example.cgx
  examples/pyside/dialog_example_window.cgx
  examples/pyside/tree_view.cgx
  examples/pyside/tree_widget.cgx
Due: pytest

Migrate poetry to uv (#120)
  .github/workflows/ci.yml
  .gitignore
  .pre-commit-config.yaml
  README.md
  collagraph/renderers/dom_renderer.py
  collagraph/renderers/pygfx_renderer.py
  collagraph/renderers/pyside_renderer.py
  examples/pygfx/combined-example.py
  examples/pygfx/component-example.py
  examples/pygfx/point_cloud.py
  examples/pygfx/pygfx-component.cgx
  examples/pygfx/pygfx-example.py
  examples/pygfx/pygfx-slider-example.py
  examples/pyscript-development/README.md
  examples/pyscript-development/deps/.gitignore
  examples/pyscript-development/pyscript.cgx
  examples/pyscript-development/pyscript.html
  examples/pyscript-packaging/README.md
  examples/pyscript-packaging/app/__init__.py
  examples/pyscript-packaging/app/app.cgx
  examples/pyscript-packaging/index.html
  examples/pyscript-packaging/main.py
  examples/pyscript-packaging/poetry.lock
  examples/pyscript-packaging/pyproject.toml
  examples/pyscript-scripting/README.md
  examples/pyscript-scripting/pyscript.cgx
  examples/pyscript-scripting/pyscript.html
  examples/pyside/cgx_component_example.cgx
  examples/pyside/debug_example.cgx
  examples/pyside/dialog_example.cgx
  examples/pyside/dialog_example_window.cgx
  examples/pyside/lists-example.py
  examples/pyside/tree_view.cgx
  examples/pyside/tree_widget.cgx
  poetry.lock
  pyproject.toml
  tests/__init__.py
  tests/test_component_events.py
  tests/test_fibers.py
  tests/test_pygfx_renderer.py
Due: flake8, pytest

Add explanation of file ignores
  pyproject.toml
Due: none

Fix formatting
  collagraph/renderers/__init__.py
Due: flake8, pytest

Update README
  README.md
Due: none

Refactor cgx package to sfc package with better names modules
  collagraph/__init__.py
  collagraph/__main__.py
  collagraph/__pyinstaller/hook-collagraph.py
  collagraph/cgx/__init__.py
  collagraph/cgx/importer.py
  collagraph/renderers/pyside/objects/standarditem.py
  collagraph/sfc/__init__.py
  collagraph/sfc/compiler.py
  collagraph/sfc/importer.py
  collagraph/sfc/parser.py
  tests/cgx/test_cgx_comments.py
  tests/cgx/test_cgx_linting_support.py
  tests/cgx/test_cgx_shadowing.py
  tests/pyside/test_pyside_elements.py
  tests/test_component.py
Due: flake8, pytest

Refactor cgx package to sfc package with better names modules (#122)
  collagraph/__init__.py
  collagraph/__main__.py
  collagraph/__pyinstaller/hook-collagraph.py
  collagraph/cgx/__init__.py
  collagraph/cgx/importer.py
  collagraph/renderers/pyside/objects/standarditem.py
  collagraph/sfc/__init__.py
  collagraph/sfc/compiler.py
  collagraph/sfc/importer.py
  collagraph/sfc/parser.py
  tests/cgx/test_cgx_comments.py
  tests/cgx/test_cgx_linting_support.py
  tests/cgx/test_cgx_shadowing.py
  tests/pyside/test_pyside_elements.py
  tests/test_component.py
Due: flake8, pytest

Remove dev container
  .devcontainer/devcontainer.json
Due: none

Add helpful comments to point to work-around
  tests/test_slots_dynamic.py
Due: flake8, pytest

Fix location in debugger
  collagraph/sfc/compiler.py
Due: flake8, pytest

Add big list example (performance / bench)
  examples/pyside/big_list.cgx
  examples/pyside/item.cgx
Due: pytest

Remove pyscript examples
  examples/pyscript-development/README.md
  examples/pyscript-development/deps/.gitignore
  examples/pyscript-development/pyscript.cgx
  examples/pyscript-development/pyscript.html
  examples/pyscript-packaging/README.md
  examples/pyscript-packaging/app/__init__.py
  examples/pyscript-packaging/app/app.cgx
  examples/pyscript-packaging/index.html
  examples/pyscript-packaging/main.py
  examples/pyscript-packaging/pyproject.toml
  examples/pyscript-scripting/README.md
  examples/pyscript-scripting/pyscript.cgx
  examples/pyscript-scripting/pyscript.html
Due: flake8, pytest

Checkout gitignore from master
  .gitignore
  uv.lock
Due: none

Checkout pre-commit-config from master
  .pre-commit-config.yaml
Due: none

Checkout pyproject.toml from master and merge a bit
  pyproject.toml
Due: none

Checkout ci.yml from master
  .github/workflows/ci.yml
Due: none

Remove unused noqa directive
  collagraph/__pyinstaller/hook-collagraph.py
  collagraph/sfc/compiler.py
Due: flake8, pytest

Ignore unsorted import in examples/pygfx
  pyproject.toml
Due: none

Lint
  tests/test_collagraph.py
  tests/test_component_life_cycle.py
  tests/test_directive_for.py
  tests/test_load_string.py
  tests/test_sfc_import.py
  tests/test_tag_component.py
Due: flake8, pytest

Fix examples
  examples/pygfx/point_cloud.py
  examples/pygfx/pygfx-example.py
  examples/pygfx/pygfx-slider-example.py
  examples/pyside/big_list.cgx
  examples/pyside/combobox-example.py
  examples/pyside/counter.cgx
  examples/pyside/flow_layout.py
  examples/pyside/layout-example.py
  examples/pyside/layout_example.cgx
  examples/pyside/lists-example.py
  examples/pyside/tabs-example.py
Due: flake8, pytest

Fix more examples
  examples/pyside/tree_view_example.cgx
  examples/pyside/tree_view_item.cgx
  examples/pyside/tree_view_model.cgx
  examples/pyside/tree_widget_example.cgx
  examples/pyside/tree_widget_item.cgx
Due: pytest

Revert unneeded change
  collagraph/renderers/pyside/objects/itemmodel.py
  collagraph/renderers/pyside/objects/standarditem.py
Due: flake8, pytest

Put load and load_from_string back in sfc module
  collagraph/sfc/__init__.py
  collagraph/sfc/compiler.py
  collagraph/sfc/importer.py
  examples/pyside/flow_layout.py
  tests/conftest.py
  tests/pyside/test_widget.py
Due: flake8, pytest

Update some comments about slot usage
  collagraph/fragment.py
  tests/data/slots/dynamic_if.cgx
Due: flake8, pytest

Revert to use 'item' instead of 'it'
  examples/pyside/big_list.cgx
Due: pytest

Fix the update callback to prevent recursive updates when adding new columns
  examples/pyside/big_list.cgx
Due: pytest

Major performance improvement in rendering lists and preventing unnecessary updates
  collagraph/fragment.py
Due: flake8, pytest

Fix example
  examples/pyside/combobox_example.cgx
Due: pytest

Whitespace
  examples/pyside/combobox_example.cgx
Due: pytest

Remove old fixme
  tests/test_tag_template.py
Due: flake8, pytest

Bump version to 0.8.0
  pyproject.toml
Due: none

Add ci for Python 3.14
  .github/workflows/ci.yml
  pyproject.toml
Due: none

Path conditions:
  flake8: any of: \.py$
  pytest: any of: \.(py|cgx)$
