Repository fork-tongue/collagraph: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, pytest

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
# -   repo: https://github.com/pre-commit/pre-commit-hooks
#     rev: v3.2.0
#     hooks:
#     -   id: trailing-whitespace
#     -   id: end-of-file-fixer
#     -   id: check-yaml
#     -   id: check-added-large-files
- repo: local
  hooks:
  - id: flake8
    name: flake8
    description: '`flake8` is a command-line utility for enforcing style consistency across Python projects.'
    entry: poetry run flake8
    language: system
    types: [python]
    require_serial: true
  - id: pytest
    name: pytest
    entry: poetry run pytest tests
    language: system
    types: [text]
    files: \.(py|cgx)$
    require_serial: true
    pass_filenames: false

Only run pytest on the tests folder
  .github/workflows/ci.yml
Due: none

Make sure the complete PySide6 package is installed for QtAsyncIO support
  poetry.lock
  pyproject.toml
Due: none

Bump version number
  pyproject.toml
Due: none

Make sure annotations from __future__ is used for python 3.9
  collagraph/sfc/compiler.py
  collagraph/sfc/parser.py
Due: flake8, pytest

Replace flake8 with ruff
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  README.md
  poetry.lock
  pyproject.toml
  setup.cfg
Due: none

Fix linting
  collagraph/sfc/compiler.py
Due: flake8, pytest

More cleanup
  tests/test_tag_template.py
  tests_legacy/data/template.cgx
  tests_legacy/test_template_tags.py
Due: flake8, pytest

Migrate more tests from legacy
  collagraph/__pyinstaller/hook-collagraph.py
  collagraph/sfc/compiler.py
  tests/data/file_dunder.cgx
  tests/data/shadow_imports.cgx
  tests/test_resolve_names.py
  tests/test_sfc_import.py
  tests/test_sfc_shadowing.py
  tests/test_slots.py
  tests/test_slots_dynamic.py
  tests_legacy/cgx/test_cgx_resolve_names.py
  tests_legacy/data/resolve_names.cgx
Due: flake8, pytest

Remove redundant test files and convert some tests
  collagraph/component.py
  tests/test_component.py
  tests/test_component_life_cycle.py
  tests_legacy/cgx/test_cgx_callbacks.py
  tests_legacy/cgx/test_cgx_text_elements.py
  tests_legacy/data/callbacks.cgx
  tests_legacy/test_component.py
  tests_legacy/test_component_events.py
Due: flake8, pytest

Enable alternative import styles with dots, and remove black as dependency for formatting
  collagraph/__main__.py
  collagraph/sfc/compiler.py
  collagraph/sfc/importer.py
  examples/pyscript-development/pyscript.html
  poetry.lock
  pyproject.toml
  tests/data/example.cgx
  tests/test_sfc_import.py
  tests_legacy/cgx/test_cgx_component_use.py
  tests_legacy/data/component_import.cgx
  tests_legacy/data/content.cgx
Due: flake8, pytest

Add some more tests
  tests/test_attributes_dynamic.py
  tests_legacy/cgx/test_cgx_template_directives.py
  tests_legacy/data/func_import.cgx
Due: flake8, pytest

Clean up last legacy tests
  tests/conftest.py
  tests/test_attributes_dynamic.py
  tests/test_collagraph.py
  tests_legacy/cgx/test_cgx_slots.py
  tests_legacy/conftest.py
  tests_legacy/data/directive_bind.cgx
  tests_legacy/data/directive_bind_context.cgx
  tests_legacy/data/directive_bind_multiple.cgx
  tests_legacy/data/directive_bind_state_and_props.cgx
  tests_legacy/data/directive_boolean_casting.cgx
  tests_legacy/data/directive_else.cgx
  tests_legacy/data/directive_else_if.cgx
  tests_legacy/data/directive_for.cgx
  tests_legacy/data/directive_for_elaborate.cgx
  tests_legacy/data/directive_for_enumerate.cgx
  tests_legacy/data/directive_for_lambdas.cgx
  tests_legacy/data/directive_for_nested.cgx
  tests_legacy/data/directive_if.cgx
  tests_legacy/data/directive_if_elaborate.cgx
  tests_legacy/data/directive_on.cgx
  tests_legacy/data/directive_typo.cgx
  tests_legacy/data/example.py
  tests_legacy/data/menubar.cgx
  tests_legacy/data/slots/node.cgx
  tests_legacy/data/slots/slots.cgx
  tests_legacy/data/slots/slots_implicit_default_slot.cgx
  tests_legacy/data/slots/template.cgx
  tests_legacy/data/slots/template_empty.cgx
  tests_legacy/data/slots/template_implicit_default_slot.cgx
  tests_legacy/data/slots/template_implicit_default_slot_name.cgx
  tests_legacy/data/slots/template_partial.cgx
  tests_legacy/data/slots/tree.cgx
  tests_legacy/data/slots/tree_functional.cgx
  tests_legacy/data/text_elements.cgx
  tests_legacy/pyside/conftest.py
  tests_legacy/test_component_slots.py
  tests_legacy/test_legacy_collagraph.py
Due: flake8, pytest

Add and improve some type annotations
  collagraph/collagraph.py
  collagraph/component.py
  collagraph/fragment.py
Due: flake8, pytest

Small refactor
  tests/conftest.py
Due: flake8, pytest

Require callbacks to be method names or functions that can be called
  collagraph/sfc/compiler.py
  tests/data/pyside/app.cgx
  tests/test_events.py
  tests/test_tag_component.py
Due: flake8, pytest

Remove more redundant legacy tests
  tests_legacy/cgx/test_cgx_callbacks.py
  tests_legacy/data/callbacks.cgx
  tests_legacy/test_component_events.py
Due: flake8, pytest

Update upload artifact Github action
  .github/workflows/ci.yml
Due: none

Fix for Python 3.9
  collagraph/collagraph.py
Due: flake8, pytest

Simplify cgx file
  tests/data/shadow_imports.cgx
Due: pytest

Improve error message in compiler
  collagraph/sfc/compiler.py
Due: flake8, pytest

Try to improve typing of weak
  collagraph/weak.py
Due: flake8, pytest

Fix an example
  examples/pyside/app.py
Due: flake8, pytest

Add handy debug method to Fragment
  collagraph/fragment.py
Due: flake8, pytest

Clean-up old comments and code
  collagraph/fragment.py
  collagraph/sfc/compiler.py
Due: flake8, pytest

Fix v-for within v-if statements
  collagraph/fragment.py
  tests/test_directive_if.py
Due: flake8, pytest

Update ruff
  poetry.lock
Due: none

Remove typing from weak
  collagraph/weak.py
Due: flake8, pytest

Fix pygfx component example
  examples/pygfx/button.cgx
  examples/pygfx/component-example.py
  examples/pygfx/numberpad.cgx
Due: flake8, pytest

Fix pygfx-component.cgx example
  collagraph/__main__.py
  examples/pygfx/component-example.py
Due: flake8, pytest

Fix pygfx examples
  examples/pygfx/app_point_cloud.cgx
  examples/pygfx/combined-example.py
  examples/pygfx/numberpad.cgx
  examples/pygfx/point.cgx
  examples/pygfx/point_cloud.cgx
  examples/pygfx/point_cloud.py
  examples/pygfx/pygfx-example.py
  examples/pygfx/pygfx-slider-example.py
  examples/pygfx/render_widget.cgx
Due: flake8, pytest

Fix a bug when a tuple expression is written without parenthesis
  collagraph/sfc/compiler.py
Due: flake8, pytest

Support comments and text elements
  collagraph/sfc/compiler.py
  collagraph/sfc/parser.py
Due: flake8, pytest

Apply and create attributes (and watchers) only on create
  collagraph/fragment.py
  tests/test_directive_for.py
Due: flake8, pytest

Remove unneeded file
  examples/pyside/__init__.py
Due: flake8, pytest

Add tests
  tests/test_directive_for.py
Due: flake8, pytest

Remove partial because it is not needed anymore
  tests/data/pyside/app.cgx
Due: pytest

Migrate from poetry to uv
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
  uv.lock
Due: none

Update gitignore
  .gitignore
Due: none

Add group for installing only ruff
  pyproject.toml
  uv.lock
Due: none
