Repository fork-tongue/collagraph: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, format, test

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  # -   repo: https://github.com/pre-commit/pre-commit-hooks
  #     rev: v3.2.0
  #     hooks:
  #     -   id: trailing-whitespace
  #     -   id: end-of-file-fixer
  #     -   id: check-yaml
  #     -   id: check-added-large-files
  - repo: local
    hooks:
      - id: lint
        name: lint
        entry: uv run ruff check
        language: system
        types: [python]
        require_serial: true
      - id: format
        name: format
        entry: uv run ruff format --check
        language: system
        types: [python]
        require_serial: true
      - id: test
        name: pytest
        entry: uv run pytest tests
        language: system
        types: [text]
        files: \.(py|cgx)$
        require_serial: true
        pass_filenames: false

Remove LLM brain farts
  collagraph/sfc/compiler.py
Due: lint, format, test

Bump version to 0.9.5
  pyproject.toml
Due: none

Bump version to 0.9.5 (#182)
  pyproject.toml
Due: none

Add benchmark suite and fix core rendering hot-path inefficiencies
  .github/workflows/benchmark.yml
  .gitignore
  bench/conftest.py
  bench/test_component_mount.py
  bench/test_creation.py
  bench/test_keyed_list.py
  bench/test_unkeyed_list.py
  bench/test_update_depth.py
  collagraph/fragment.py
  collagraph/weak.py
  pyproject.toml
  tests/test_component.py
  tests/test_tag_dynamic.py
Due: lint, format, test

Fall back to unformatted code when ruff format fails
  collagraph/sfc/compiler.py
  tests/test_sfc_debug.py
Due: lint, format, test

Fall back to original tree when debug source fails to parse
  collagraph/sfc/__init__.py
  tests/test_sfc_debug.py
Due: lint, format, test

Create debug file atomically instead of using tempfile.mktemp
  collagraph/sfc/__init__.py
  tests/test_sfc_debug.py
Due: lint, format, test

Add --show-code flag to collagraph CLI
  README.md
  collagraph/__main__.py
  collagraph/sfc/__init__.py
  collagraph/sfc/compiler.py
  tests/test_show_code.py
Due: lint, format, test

Fix PyInstaller hook for CGX files inside packages
  collagraph/__pyinstaller/hook-collagraph.py
  tests/pyinstaller/todo_app/components/__init__.py
  tests/pyinstaller/todo_app/components/helpers.py
  tests/pyinstaller/todo_app/components/todo_item.cgx
  tests/pyinstaller/todo_app/todo_list.cgx
Due: lint, format, test

Add pytest-benchmark suite and per-PR benchmark CI workflow
  .github/workflows/benchmark.yml
  .github/workflows/ci.yml
  .gitignore
  bench/conftest.py
  bench/test_component_mount.py
  bench/test_creation.py
  bench/test_keyed_list.py
  bench/test_list_grow.py
  bench/test_unkeyed_list.py
  bench/test_update_depth.py
  pyproject.toml
Due: lint, format, test

Disable GC during timed list-benchmark calls to reduce variance
  bench/test_keyed_list.py
  bench/test_list_grow.py
  bench/test_unkeyed_list.py
Due: lint, format, test

Speed up mount path: cheap arity check, reuse first(), leaner emit
  collagraph/component.py
  collagraph/fragment.py
  collagraph/weak.py
  tests/test_component.py
Due: lint, format, test

Cache Fragment._component_parent() lookups
  collagraph/fragment.py
  tests/test_tag_dynamic.py
Due: lint, format, test

Avoid redundant anchor lookups in Fragment.anchor() and unkeyed v-for
  collagraph/fragment.py
  tests/test_directive_for.py
Due: lint, format, test

Fix PyInstaller hook for CGX files inside packages (#184)
  collagraph/__pyinstaller/hook-collagraph.py
  tests/pyinstaller/todo_app/components/__init__.py
  tests/pyinstaller/todo_app/components/helpers.py
  tests/pyinstaller/todo_app/components/todo_item.cgx
  tests/pyinstaller/todo_app/todo_list.cgx
Due: lint, format, test

Update docs for text interpolation, pygfx text elements, and tree view features
  docs/examples/pygfx-examples.md
  docs/examples/pyside-examples.md
  docs/guide/template-syntax.md
  docs/reference/directives.md
  docs/renderers/pygfx.md
  docs/renderers/pyside.md
Due: none

Add benchmark suite and per-PR benchmark CI workflow (#185)
  .github/workflows/benchmark.yml
  .github/workflows/ci.yml
  .gitignore
  bench/conftest.py
  bench/test_component_mount.py
  bench/test_creation.py
  bench/test_keyed_list.py
  bench/test_list_grow.py
  bench/test_unkeyed_list.py
  bench/test_update_depth.py
  pyproject.toml
Due: lint, format, test

Speed up mount path: cheap arity check, reuse first(), leaner emit (#186)
  collagraph/component.py
  collagraph/fragment.py
  collagraph/weak.py
  tests/test_component.py
Due: lint, format, test

Update actions to the latest versions, should be all migrated from Node 20 to Node 24
  .github/workflows/benchmark.yml
  .github/workflows/ci.yml
Due: none

Cache Fragment._component_parent() lookups (#187)
  collagraph/fragment.py
  tests/test_tag_dynamic.py
Due: lint, format, test

Avoid redundant anchor lookups in Fragment.anchor() and unkeyed v-for (#188)
  collagraph/fragment.py
  tests/test_directive_for.py
Due: lint, format, test

Update actions to the latest versions, should be all migrated from Node 20 to Node 24 (#190)
  .github/workflows/benchmark.yml
  .github/workflows/ci.yml
Due: none

Write compiled AST to temp file when CGX_DEBUG is set (#175)
  README.md
  collagraph/__main__.py
  collagraph/sfc/__init__.py
  collagraph/sfc/compiler.py
  tests/test_sfc_debug.py
  tests/test_show_code.py
Due: lint, format, test

Fragment parenting overhaul (#162)
  collagraph/fragment.py
  collagraph/hot_reload.py
  collagraph/sfc/compiler.py
  tests/test_directive_for_keyed.py
  tests/test_directive_for_keyed_nested.py
  tests/test_hot_reload_preservation.py
Due: lint, format, test

Support text elements for PySide widgets that display text
  collagraph/renderers/pyside/objects/__init__.py
  collagraph/renderers/pyside/objects/textelement.py
  collagraph/renderers/pyside_renderer.py
  examples/pyside/counter.cgx
  tests/pyside/test_pyside_text_elements.py
Due: lint, format, test

Support text elements for PySide widgets that display text (#191)
  collagraph/renderers/pyside/objects/__init__.py
  collagraph/renderers/pyside/objects/textelement.py
  collagraph/renderers/pyside_renderer.py
  examples/pyside/counter.cgx
  tests/pyside/test_pyside_text_elements.py
Due: lint, format, test

Update docs for PySide text elements and --show-code/CGX_DEBUG
  docs/getting-started/cli.md
  docs/getting-started/first-component.md
  docs/guide/template-syntax.md
  docs/index.md
  docs/renderers/pyside.md
Due: none

Update actions in docs workflow to match the other pipelines
  .github/workflows/docs.yml
Due: none

Add MkDocs documentation with GitHub Pages deployment (#176)
  .github/workflows/docs.yml
  .gitignore
  docs/examples/pygfx-examples.md
  docs/examples/pyside-examples.md
  docs/getting-started/cli.md
  docs/getting-started/first-component.md
  docs/getting-started/installation.md
  docs/guide/components.md
  docs/guide/events.md
  docs/guide/hot-reload.md
  docs/guide/provide-inject.md
  docs/guide/reactivity.md
  docs/guide/slots.md
  docs/guide/template-syntax.md
  docs/index.md
  docs/reference/component-api.md
  docs/reference/directives.md
  docs/reference/renderer-api.md
  docs/renderers/overview.md
  docs/renderers/pygfx.md
  docs/renderers/pyside.md
  mkdocs.yml
  pyproject.toml
Due: none

Add docs badge and links to README
  README.md
Due: none

Update README counter example to text interpolation
  README.md
Due: none

Remove outdated mention of plain render functions from README
  README.md
Due: none

Mention PySide6 and Pygfx renderers in README feature list
  README.md
Due: none

Add docs badge and links to README (#192)
  README.md
Due: none

Add pure-Python view API as alternative to cgx templates
  collagraph/__init__.py
  collagraph/component.py
  collagraph/dsl.py
  tests/test_view_dsl.py
Due: lint, format, test

Add examples and docs for the pure-Python view API
  docs/examples/pyside-examples.md
  docs/guide/python-views.md
  docs/guide/template-syntax.md
  docs/index.md
  examples/pyside/counter_view.py
  examples/pyside/todo_view.py
  mkdocs.yml
Due: lint, format, test

Support hot reload for pure-Python view components
  collagraph/hot_reload.py
  docs/guide/hot-reload.md
  docs/guide/python-views.md
  tests/test_hot_reload_view.py
Due: lint, format, test

Support Python view components in the collagraph CLI
  collagraph/__main__.py
  docs/examples/pyside-examples.md
  docs/getting-started/cli.md
  docs/guide/python-views.md
  tests/test_cli_view.py
Due: lint, format, test

Fix window title attribute in todo example
  docs/examples/pyside-examples.md
  examples/pyside/todo_example.cgx
Due: test

Clarify attribute naming in Python view and PySide renderer docs
  docs/guide/python-views.md
  docs/renderers/pyside.md
Due: none
