Repository fork-tongue/collagraph: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, pytest

flake8:
  name: flake8
  description: '`flake8` is a command-line utility for enforcing style consistency across Python projects.'
  entry: poetry run flake8
  language: system
  require_serial: true

pytest:
  name: pytest
  entry: poetry run pytest tests
  language: system
  require_serial: true
  pass_filenames: false

fix linting
  examples/pyscript-packaging/setup.cfg
Due: none

fix linting differently
  examples/pyscript-packaging/app/__init__.py
  examples/pyscript-packaging/setup.cfg
Due: flake8, pytest

Don't cover dom_renderer.py
  .coveragerc
Due: none

Add support for more Qt elements and more
  collagraph/cgx/cgx.py
  collagraph/component.py
  collagraph/renderers/pyside/objects/combobox.py
  collagraph/renderers/pyside/objects/dockwidget.py
  collagraph/renderers/pyside/objects/statusbar.py
  collagraph/renderers/pyside/objects/toolbar.py
  collagraph/renderers/pyside/objects/window.py
  collagraph/renderers/pyside/utils.py
  collagraph/renderers/pyside_renderer.py
  examples/app.py
  tests/cgx/test_cgx_template_directives.py
  tests/data/app.cgx
  tests/data/directive_for_lambdas.cgx
  tests/pyside/test_pyside_elements.py
  tests/pyside/test_pyside_renderer.py
  tests/test_collagraph.py
Due: flake8, pytest

Remove debug statement
  collagraph/cgx/cgx.py
Due: flake8, pytest

Clean-up
  collagraph/renderers/pyside_renderer.py
  tests/pyside/test_pyside_renderer.py
Due: flake8, pytest

Fix removing of falsey attributes
  collagraph/renderers/pyside_renderer.py
  tests/pyside/test_pyside_renderer.py
Due: flake8, pytest

Add preferred event loop type to Renderer to use as default
  collagraph/collagraph.py
  collagraph/renderers/__init__.py
  collagraph/renderers/pyside_renderer.py
Due: flake8, pytest

Make it possible to 'remove' Qt properties
  collagraph/renderers/pyside_renderer.py
  tests/pyside/test_pyside_elements.py
  tests/pyside/test_pyside_renderer.py
Due: flake8, pytest

Black
  tests/data/app.cgx
Due: pytest

Fix linting
  collagraph/renderers/__init__.py
Due: flake8, pytest

move script to separate .py file
  examples/pyscript-packaging/index.html
  examples/pyscript-packaging/main.py
Due: flake8, pytest

lint
  examples/pyscript-packaging/main.py
Due: flake8, pytest

Fix #67 by checking explicitly for None
  collagraph/collagraph.py
Due: flake8, pytest

Update argument name 'obj' to 'el'
  collagraph/renderers/dom_renderer.py
Due: flake8, pytest

Try to make qt test a bit more resilient
  tests/pyside/test_pyside_elements.py
Due: flake8, pytest

Show type in NotImplementedError
  collagraph/renderers/pyside/objects/listview.py
Due: flake8, pytest

Add PyScript / Pyodide dom renderer (#66)
  .coveragerc
  collagraph/cgx/cgx.py
  collagraph/collagraph.py
  collagraph/component.py
  collagraph/renderers/__init__.py
  collagraph/renderers/dict_renderer.py
  collagraph/renderers/dom_renderer.py
  collagraph/renderers/pygfx_renderer.py
  collagraph/renderers/pyside/objects/combobox.py
  collagraph/renderers/pyside_renderer.py
  examples/combobox-example.py
  examples/pyscript-packaging/README.md
  examples/pyscript-packaging/app/__init__.py
  examples/pyscript-packaging/app/app.cgx
  examples/pyscript-packaging/deps/.gitignore
  examples/pyscript-packaging/index.html
  examples/pyscript-packaging/main.py
  examples/pyscript-packaging/poetry.lock
  examples/pyscript-packaging/pyproject.toml
  examples/pyscript/README.md
  examples/pyscript/deps/.gitignore
  examples/pyscript/pyscript.cgx
  examples/pyscript/pyscript.html
  tests/cgx/test_cgx_callbacks.py
  tests/cgx/test_cgx_text_elements.py
  tests/data/callbacks.cgx
  tests/data/text_elements.cgx
  tests/pyside/test_pyside_elements.py
  tests/pyside/test_pyside_sfc.py
  tests/test_collagraph.py
  tests/test_component.py
  tests/test_reconciliation.py
Due: flake8, pytest

Support list selection callbacks (#69)
  collagraph/renderers/pyside/objects/listview.py
  examples/lists-example.py
Due: flake8, pytest

Add comment to statusbar module
  collagraph/renderers/pyside/objects/statusbar.py
Due: flake8, pytest

Make it possible to use '-' in attribute names
  collagraph/renderers/pyside_renderer.py
Due: flake8, pytest

Improve app example
  tests/data/app.cgx
Due: pytest

Change warning into a debug message
  collagraph/renderers/pyside_renderer.py
Due: flake8, pytest

Ensure __file__ and other dunders are avaible in cgx contexts
  collagraph/cgx/importer.py
  tests/cgx/test_cgx_resolve_names.py
  tests/data/file_dunder.cgx
Due: flake8, pytest

Improve PySide renderer and more (#68)
  collagraph/cgx/cgx.py
  collagraph/collagraph.py
  collagraph/renderers/__init__.py
  collagraph/renderers/pyside/objects/dockwidget.py
  collagraph/renderers/pyside/objects/statusbar.py
  collagraph/renderers/pyside/objects/toolbar.py
  collagraph/renderers/pyside/objects/window.py
  collagraph/renderers/pyside/utils.py
  collagraph/renderers/pyside_renderer.py
  examples/app.py
  tests/cgx/test_cgx_template_directives.py
  tests/data/app.cgx
  tests/data/directive_for_lambdas.cgx
  tests/pyside/test_pyside_elements.py
  tests/pyside/test_pyside_renderer.py
  tests/test_collagraph.py
Due: flake8, pytest

Ensure __file__ and other dunders are avaible in cgx contexts (#70)
  collagraph/cgx/importer.py
  tests/cgx/test_cgx_resolve_names.py
  tests/data/file_dunder.cgx
Due: flake8, pytest

Implement remove_attribute for PygfxRenderer
  collagraph/renderers/pygfx_renderer.py
  tests/test_pygfx_renderer.py
Due: flake8, pytest

Implement remove_attribute for PygfxRenderer (#72)
  collagraph/renderers/pygfx_renderer.py
  tests/test_pygfx_renderer.py
Due: flake8, pytest

Add support for custom PySide6 dialogs
  collagraph/renderers/pyside_renderer.py
  examples/dialog-example.py
  examples/dialog_example.cgx
  examples/dialog_example_window.cgx
Due: flake8, pytest

Add some more details to the dialog example
  examples/dialog_example.cgx
  examples/dialog_example_window.cgx
Due: pytest

Simplify a bit
  collagraph/renderers/pyside_renderer.py
  examples/dialog_example.cgx
  examples/dialog_example_window.cgx
Due: flake8, pytest

Clean-up comment
  examples/dialog_example.cgx
Due: pytest

Update example to call slot
  examples/dialog_example.cgx
Due: pytest

Support pyside dialogs (#73)
  collagraph/renderers/pyside_renderer.py
  examples/dialog-example.py
  examples/dialog_example.cgx
  examples/dialog_example_window.cgx
Due: flake8, pytest

Bump version to 0.5.0
  pyproject.toml
Due: none

Run poetry update to update pytest-qt to see if it fixes tests on CI
  poetry.lock
Due: none

Revert "Run poetry update to update pytest-qt to see if it fixes tests on CI"
  poetry.lock
Due: none

Install libgles2-mesa-dev as well
  .github/workflows/ci.yml
Due: none

Remove install of libgles2-mesa-dev and install previous version of xvfb
  .github/workflows/ci.yml
Due: none

Try to use QT offscreen
  .github/workflows/ci.yml
Due: none

Path conditions:
  flake8: any of: \.py$
  pytest: any of: \.(py|cgx)$
